<html lang="pt-br" xsi=schemaLocation="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=width-device, initial-scale=1.0">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link rel="stylesheet" href="css/login.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<title>Recuperar Usuário</title>
</head>

<body>
	<div id="login">
		<h3 class="text-center text-white pt-5">Recuperar Senha</h3>
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">
					<div id="login-box" class="col-md-12">
						<form id="login-form" class="form" method="post" th:object="${usuario}" action="recuperarSenha">
							<h3 class="text-center text-info">Recuperar Senha</h3>
							<div class="alert alert-danger" role="alert" th:if="${msg}">
								<strong th:text="${msg}"></strong>
							</div>
							<div class="form-group">
								<label for="username" class="text-info">Email:</label><br>
								<input type="text" name="email" id="email" th:field="*{email}" placeholder="email"
									class="form-control">
							</div>
							<div class="form-group text-center">
								<button type="submit" class="btn btn-success mx-auto">Enviar</button>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>